.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-size: contain;
    width: 142px;
    height: 42px;
    display: inline-block;
}
@media (min-width: 768px) {
    .header__logo {
        width: 176px;
        height: 52px;
    }
}