.lead__subtitle {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    margin: 16px auto 40px;
    width: 288px;  
}
@media (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto 56px;
        width: 640px;
    }
}
@media (min-width: 1024px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}
@media (min-width: 1280px) {
    .lead__subtitle {
        margin: 32px auto 64px;
    }
}