.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 8px 0 0 16px;
}
@media (min-width: 768px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media (min-width: 1024px) {
    .lead__caption {
        margin: 8px 0 0;
    }
}