.cover-animation {
    position: absolute;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    min-height: 62.5vw;
    transition: opacity 1s linear;
}
.cover:hover .cover-animation {
    opacity: 0.8;
} 
@media (min-width: 1280px) {
    .cover-animation {
        min-height: 740px;
        width: 1184px;
        margin: 0 auto;
    }
} 
